services:
  postgres:
    image: postgres:18
    container_name: tgapp_postgres
    restart: always
    env_file:
      - ./backend/.env
    volumes: 
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
      
  backend:
    build: ./backend
    container_name: tgapp_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    expose:
      - "8000"

  bot:
    build: ./backend
    container_name: tgapp_bot
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    command: ["python", "app/bot.py"]

  frontend:
    build: ./frontend
    container_name: tgapp_frontend
    restart: always
    depends_on:
      - backend
    expose:
      - "80"

  nginx: 
    build: ./nginx
    container_name: tgapp_nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  pgdata:
